:host {
  display: block;
}

.score-board {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px;
  border: 4px solid #fff;
  border-radius: 12px;
  font-size: 11px;
  text-align: center;
  box-shadow: 
    0 0 0 2px #000,
    0 0 20px rgba(0, 200, 255, 0.5),
    inset 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Press Start 2P', monospace;
}

.score-board div {
  margin-bottom: 10px;
  letter-spacing: 1px;
  
  &:last-child {
    margin-bottom: 0;
  }
}