.game-board {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #fafafa;
  border: 2px solid #673ab7;
  margin: 24px auto;
  width: fit-content;
}

.row {
  display: flex;
  gap: 2px;
}