.cell {
  width: 32px;
  height: 32px;
  border: 1px solid #bdbdbd;
  background: #fff;
  box-sizing: border-box;
  transition: background 0.2s;
}

.cell.filled {
  background: #673ab7;
  border-color: #311b92;
}