.cell {
  width: 28px;
  height: 28px;
  border: 1px solid #fff;
  box-sizing: border-box;

  &.filled {
    border-color: #fff;
  }

  &.ghost {
    opacity: 0.3;
  }

  &.active {
    border-color: #000;
    border-width: 2px;
  }
}
